.input-wrapper {
  width: 80vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
}
.input-wrapper h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.input-wrapper p {
  margin: 0;
}
